<h1>about LovePhoebe</h1>
<p>1.Love Phoebe was an inspired by the founder's mother, this traditional sugar method of including sugar into the indigents to exfoliate the skin, in order to have better and healthier skin by using the most natural ingredients.

  Love Phoebe is a dedication to our founder, Phoebe, to express her love and appreciation for all the hard work and love that her mother has put in for the family. 
  
  2. 
  The creation of Love Phoebe was discovered by our founder, Phoebe when she was using her mother's secret of daily sugar exfoliation to have a better and healthier skin. Love Phoebe is created to express the love and appreciation for all the hard work and love that her mum has put in for the family. Also, we want to share this amazing and most natural method to have smoother and glowing skin with everyone.
  
  3.
  Love Phoebe was born from the inspiration of our founder's mother traditional sugar exfoliation method where sugar combined with other indigents to exfoliate skin in order to have heathier skin.
  </p>