<div class='contact'>
  <h1>contact us</h1>
  <P>We love hearing from our customers. You can contact us by email. We aim to respond to all enquiries within 48
    business hours.</P>

  <strong>email:</strong> lovephoebe@gmail.com
</div>