.cart{
  margin: 20px;
}

#update-cart{
  width: 90px;
  margin: 5px;
}

#delete-cart{
  width: 90px;
  margin: 5px;
}

.incart-buttons{
  display: flex;
  flex-direction: row;
}

#pay-button{
  margin: 20px 10px 20px 20px;
}

#continue-shopping{
  margin: 20px 20px 20px 10px;
}