body, html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  
}

.top-banner{
  background-image: url("IMG_banner.jpg");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.slogan {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

a:visited{
  color: rgb(193, 125, 53);
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(233, 220, 197);
}

.cart_qty{
  width: 2rem;
}

.logo{
  width: 80px;
}

.linkbar{
  display: block;
  padding: 14px;
  
}

.linkbar :hover{
  background-color: rgba(0, 0, 0, 0.153);
}

footer{
  font-size: 12px;
  align-items: flex-end;

}