body{
  font-family: 'Montserrat', sans-serif;
  
}

a:visited{
  color: rgb(193, 125, 53);
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(223, 221, 221);
}

.logo{
  width: 80px;
}

.linkbar{
  display: block;
  padding: 14px;
  
}

.linkbar :hover{
  background-color: rgba(0, 0, 0, 0.153);
}

footer{
  font-size: 12px;

}